* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    min-height: 150vh;
    gap: 5px;
}

.main-3{
    background-color: rgb(11, 150, 46);
}

#sidebar{
    grid-area: sidebar;
}

#header{
    grid-area: header;
}

#main-body{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "projects annon"
    "projects trendy";
    grid-template-columns: 2fr 1fr;
    gap: 6px;
}


#projects{
    grid-area: projects;
    background-color: brown;
}

#annon{
    grid-area: annon;
    background-color: brown;
}

#trendy{
    grid-area: trendy;
    background-color: brown;
}