* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    min-height: 150vh;
    gap: 5px;
}

.main-3{
    background-color: rgb(11, 150, 46);
}

#sidebar{
    grid-area: sidebar;
}

#header{
    grid-area: header;
}

#main-body{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "projects annon"
    "projects trendy";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px;
}


#projects{
    grid-area: projects;
    background-color: brown;
}

#annon{
    grid-area: annon;
    background-color: brown;
}

#trendy{
    grid-area: trendy;
    background-color: brown;
}


.projectmain{
    display: flex;
    flex-direction: column;
}

.projectheading{
    height: 90px;
    background-color: rgb(188, 188, 219);
    margin-left: 20px;
    align-content: end;
}


.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px 300px;
    margin: 20px;
}



.card{
    background-color: chartreuse;
}

.announcements{
    display: flex;
    flex-direction: column;
}

.announCards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    align-items: center;
}

.announCard{
    background-color: cadetblue;
    width: 300px;
    height: 140px;
}
.announcement {
    height: 90px;
    align-content: end;
}

.trending{
    display: flex;
    flex-direction: column;
}

.trendyCards{
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 60, 88);
    align-items: center;
    gap: 10px;
}

.trendingHeading{
    height: 90px;
    align-content: center;
}
.trendyCard{
    background-color: cadetblue;
    width: 300px;
    height: 140px;
}