* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 0.8fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    min-height: 150vh;
}

.main-3{
    background-color: rgb(6, 129, 36);
}

#sidebar{
    grid-area: sidebar;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
}

#header{
    grid-area: header;
}

#main-body{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "projects annon"
    "projects trendy";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px;
}


#projects{
    grid-area: projects;
    background-color: brown;
}

#annon{
    grid-area: annon;
    background-color: brown;
}

#trendy{
    grid-area: trendy;
    background-color: brown;
}


.projectmain{
    display: flex;
    flex-direction: column;
}

.projectheading{
    height: 90px;
    background-color: rgb(188, 188, 219);
    margin-left: 20px;
    align-content: end;
}


.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px 300px;
    margin: 20px;
}



.card{
    background-color: chartreuse;
}

.announcements{
    display: flex;
    flex-direction: column;
}

.announCards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    align-items: center;
}

.announCard{
    background-color: cadetblue;
    width: 300px;
    height: 140px;
}
.announcement {
    height: 90px;
    align-content: end;
    margin-bottom: 20px;
}

.trending{
    display: flex;
    flex-direction: column;
}

.trendyCards{
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 60, 88);
    align-items: center;
    gap: 10px;
}

.trendingHeading{
    height: 90px;
    align-content: center;
}
.trendyCard{
    background-color: cadetblue;
    width: 300px;
    height: 140px;
}


.upperheader{
    display: flex;
    height: 100px;
}



.search{
    height: 100px;
    width: 68%;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 100px;
    height: 120px;
}

.search-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.searchBarIcon{
    width: 30px;
}
.search-button:hover {
    background-color: #28b81b;
}


.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 750px;
    background-color: bisque;
    margin-left: 10px;
}


.othericons{
    display: flex;
    align-items: center;
    height: 100px;
    width: 32%;

}

.notification{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.notificationIcon{
    width: 30px;
}

.smallLogo{
    display: flex;
    justify-content: center;
    width: 25%;
}
.smallLogoIcon{
    width: 50px;
    border-radius: 50px;
}
.smallName{
    text-align: start;
    width: 45%;
}

.lowerheader{
    display: flex;
    height: 130px;
}

.leftside{
    display: flex;
    align-items: center;
    width: 60%;

}

.rightside{
    display: flex;
    align-items: center;
    width: 40%;
}

.bigLogo{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.bigLogoIcon{
    width: 80px;
    border-radius: 50px;

}
.bigName{
    width: 80%;
    margin-left: 10px;
}

.bigNameText{
    font-size: 35px;
}


.new{
    display: flex;
    justify-content: end;
    width: 39%;
}

.update{
    display: flex;
    justify-content: center;
    width: 25%;
}

.share{
    width: 36%;
}

.newbtn{
    width: 100px;
    height: 40px;
    border-radius: 50px;
}


.uploadbtn{
    width: 100px;
    height: 40px;
    border-radius: 50px;
}


.sharebtn{
    width: 100px;
    height: 40px;
    border-radius: 50px;
}


.dashboard{
    display: flex;
    background-color: blue;
    height: 15%;
    align-items: center;
    gap: 10px;
}
.dashboardIcon{
    margin-left: 10px;
}
.homeSection{
    display: flex;
    flex-direction: column;
    background-color: rgb(137, 137, 241);
    height: 60%;

}

.settingsSection{
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 25%;
}

.homeSectionItems, .settingsSectionItems {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}


#home, #profile, #message, #history, #tasks, #communities, #settings, #support, #privacy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
img{
    width: 25px;
}

